.m-background__section {
    width: 100%;
    height: 22vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1vw;
    border-bottom: 6px wheat solid;
}

.m-background__section img {
    height: 20vw;
    width: auto;
}

.m-background__paragraph {
    padding: 2vw;
    padding-right: 0;
    max-width: 55%;
    line-height: 1.5vw;
    font-size: 1.3vw;
    text-align: justify;
    align-content: center;
}

.m-background__section-image {
    padding: 4vw 0;
    display: flex;
    justify-content: center;
    background-image: url('../img/backgroundImg.jpg');
    background-attachment: fixed;
}

.m-background__div {
    width: 20%;
    height: 25vw;
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 0.8vw;
}

.m-background__div:hover {
    -webkit-box-shadow: 14px 15px 26px -5px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 14px 15px 26px -5px rgba(0, 0, 0, 0.34);
    box-shadow: 14px 15px 26px -5px rgba(0, 0, 0, 0.34);
}

.m-background__div img {
    width: 85%;
    height: auto;
    margin: 1vw 0;
    
}

.m-background__div p {
    color: black;
    font-size: 1.4vw;
    font-weight: 500;
}

.m-buttom__buscarProdutos {
    width: 8vw;
    height: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    margin: 1vw auto;
    font-size: 1.2vw;
    font-weight: 500;
    color: white;
    background-color: black;
}

.m-buttom__buscarProdutos:hover {
    opacity: 70%;
}

@media screen and (max-width: 900px) {
    .m-background__section-image {
        flex-direction: column;
        align-items: center;
        margin: 2vw 0;
    }

    .m-background__div {
        width: 40%;
        height: auto;
        margin: 2vw 0;
    }

    .m-background__div p {
        font-size: 3vw;
    }

    .m-buttom__buscarProdutos {
        width: 25vw;
        height: 6vw;
        border-radius: 1vw;
        border: 0.15vw solid rgb(111, 83, 49);
        margin: 3vw auto;
        font-size: 2.3vw;
        font-weight: 500;
        color: white;
        background-color: black;
    }

}