@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: rgb(219, 171, 111);
  text-decoration: unset;
}

body{
  background-color: black;
}

.flex{
  width: 70vw;
  margin: 0 auto;
}




